@charset "utf-8";

/* common */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #FFC0A6; */
}


body {
  /* background-color: #FFC0A6; */
    background-color: #FFF0E5;
}

h1 {
  text-align: center;
  margin-top: 128px;
}

h2,h3{
  text-align: center;
}

/* header */
header {
  /* background-color: pink; */
  background-image: url(/Users/itouhiiraginari/ポートフォリオ/image.png);
  background-position: center 30%;
  background-size: cover;
  color: #fff;

}

header nav ul {
  display: flex;
  justify-content: center;
  padding: 32px;
  gap: 80px;
  font-size: 12px;
  list-style: none;
}

header nav li:hover {
  transform: scale(1.05);
}



h2.header {
  margin-top: 64px;
}

p.header {
  text-align: center;
  margin-top: 64px;
  padding-bottom: 128px;
}

/* works */
.works {
  padding-top: 64px;

}

.works h3 {
  margin-top: 64px;
}

.works div {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  padding-bottom: 64px;
}

/* /* skill */

.Skills {
  margin: 0 auto;
  /* background-color: chartreuse; */
}

.Skills h3 {
  padding-top: 64px;
}

.Skills ul {
  display: flex;
  flex-direction: column;
  /* 縦並び */
  padding: 0 32px 0;
  margin: 64px auto 0;
  list-style: none;
  gap: 32px;
  align-items: center;
}

.Skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  background-image: linear-gradient(to bottom right ,#FFC0A6 , #F2D8AA) ;
  border-radius: 30px;
  padding: 16px 3%;
  width: clamp(240px,80%, 340px);
}

.Skills li img {
  width:clamp(200px,100%,300px);
  height: auto;
  border-radius: 15%;
  display: block;
}

.Skills li p {
  max-width: 240px;
  margin-top: 32px;
  padding-bottom: 48px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .Skills ul {
    flex-direction: row;
    /* 横並び */
    justify-content: center;
    gap: 64px;
  }

  .Skills li {
    min-width: 250px;
  }
}

/* About */

.About {
  /* background-color: fuchsia; */
  margin: 0;
}

.About nav {
  display: flex;
  margin: 0 auto;
  padding-top: 128px;
  align-items: center;
  /* 縦方向中央 */
  justify-content: center;
  gap: 24px;
  max-width: 1000px;
  gap: 32px;
}

.About nav .pic {
  /* padding: 50px 30px; */
}

.About nav img {
  width: 30vw;
  max-width: 600px;
  min-width: 500px;
  height: auto;
  display: block;
}

.About nav .self {
  display: flex;
  flex-direction: column;
  /* 縦並び */
  max-width: 200px;
}

.About nav .self h3 {
  text-align: center;
}

.About nav .self p {
  margin-top: 32px;
  padding-bottom: 128px;
}

@media (max-width: 768px) {
  .About nav {
    flex-direction: column;
    text-align: center;
  }

  .title {
    order: 1;
  }

  .About .pic {
    order: 2;
  }

  .About .self {
    order: 3;
  }
  }

/* my */

.my {
  margin: 0;
  padding: 128px 128px;
}

.my .myall {
  background-image: linear-gradient(to bottom right ,#FFC0A6 , #F2D8AA) ;
  border-radius: 5%;
  border: 1px solid #000;
  max-width: 750px;
  height: auto;
  margin: 0 auto;
}

.my .education h3 {
  text-align: center;
  padding-top: 32px;
}

.my .scholl {
  display: flex;
  flex-direction: column;
}

.my .scholl {
  text-align: center;
  margin-top: 32px;
}

.my .hobby {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my .hobby h3 {
  margin-bottom: 0;
  text-align: center;
}

.my .hobby-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 32px;
}

.my .hobby .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.my .hobby .item img {
  margin: 0;
  width: 100px;
  height: auto;
  display: block;
  border-radius: 30%;
}

.my .hobby .item p {
  margin-top: 12px;
}

@media (max-width: 768px) {

  .my {
   padding: 32px 16px;
  }

  .my .myall {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0%;
  }
}

/* contact */

.contacts {
  display: flex;
  justify-content: center;
  margin: 0 64px;
}

.contacts .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts .contact h3 {
  text-align: center;
}

.contacts .contact li {
  list-style: none;
}

.contacts .contact li p {
  font-size: 12px;
}

.contacts .dog img {
  margin: 0;
  width: 300px;
  height: auto
}

/* footer */

footer {
  text-align: center;
  padding: 64px 0;
  background-color: #98623C;
}

footer small {
  margin-top: 32px;
}