@charset "utf-8";

/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #FFF0E5;
}

h1 {
  text-align: center;
  margin-top: 128px;
}

h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* header */
header {
  background-image: url(Mask-group.png);
  background-position: center 30%;
  background-size: cover;
  color: #fff;
  min-height: 70vh;
  padding: 0 0 160px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 80px;
  font-size: 12px;
  list-style: none;
}

header nav li:hover {
  transform: scale(1.05);
}



h2.header {
  margin-top: 64px;
}

p.header {
  text-align: center;
  margin-top: 64px;
  padding-bottom: 128px;
}

/* work */
#Work {
  padding-top: 64px;
}

#Work h3 {
  margin-top: 64px;
}

#Work .workspic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 0;
}

.workspic img {
  height: auto;
  max-width: 90%;
  min-width: 0;
}

.worksoverview {
  max-width: 600px;
  margin: 0 auto;
  padding: 64px 32px;
}

#Work .worksoverview div {
  margin-top: 32px;
}

.worksoverview ul {
  padding-left: 1.2em;
}

.overview-row {
  display: flex;
  gap: 8px;
}

.overview-column {
  gap: 8px;
}

.overview-column ul {
  margin-top: 8px;
  ;
}

.overview-column p {
  margin-top: 8px;
}

@media (max-width: 768px) {

  .worksoverview {
    padding: 32px 32px;
  }

  .worksoverview p {
    font-size: 14px;
  }

  .worksoverview li {
    font-size: 14px;
  }

  #Work .workspic {
    gap: 4px;
  }


  .workspic img {
    padding: 0 20px;
  }
}


/* /* skill */

#Skill {
  margin: 0 auto;
}

#Skill h3 {
  padding-top: 64px;
}

#Skill ul {
  display: flex;
  padding: 0 32px 0;
  list-style: none;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

#Skill li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  background-image: linear-gradient(to bottom right, #FFC0A6, #F2D8AA);
  border-radius: 30px;
  padding: 16px 3%;
  width: clamp(240px, 80%, 340px);
}

#Skill li img {
  width: clamp(200px, 100%, 300px);
  height: auto;
  border-radius: 15%;
  display: block;
}

#Skill li p {
  max-width: 240px;
  margin-top: 32px;
  padding-bottom: 48px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #Skill ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
  }

  #Skill li {
    min-width: 250px;
  }
}

/* About */

#About {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* gap: 32px; */
  padding-top: 128px;
}

.about-about {
  opacity: 0;
}

#About .about-inner {
  padding: 64px;
  gap: 16px;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5%;
}

#About .about-inner .self {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

#About .about-inner h3 {
  text-align: center;
}

#About .about-inner .self p {
  margin-top: 32px;
}

#About .about-inner .self p .color {
  color: red;
}

#About .pic img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: block;
  object-fit: cover;
}



@media (max-width: 768px) {
  #About {
    flex-direction: column;
    text-align: center;

  }

  .about-about {
    opacity: 1;
  }

  #About .about-inner {
    padding: 64px;
    gap: 0px;
    background: none;
    border: none;
    margin: 0 auto;
  }

  #About .about-inner h3 {
    opacity: 0;
  }

  #About .pic img {
    padding: 32px 32px;
    width: 100%;
    order: 2;
    margin: 32px auto;
      background-image: linear-gradient(to bottom right, #FFC0A6, #F2D8AA);
  }

  #About .about-inner .self {
    order: 3;
  }

  #About .about-inner .self p {
    text-align: center;
  }
}

/* my */

.my {
  margin: 0;
  padding: 128px 128px;
}

.my .myall {
  background-image: linear-gradient(to bottom right, #FFC0A6, #F2D8AA);
  border-radius: 5%;
  border: 1px solid #000;
  max-width: 750px;
  height: auto;
  margin: 0 auto;
}

.my .education h3 {
  text-align: center;
  padding-top: 32px;
}

.my .scholl {
  display: flex;
  flex-direction: column;
}

.my .scholl {
  text-align: center;
  margin-top: 32px;
}

.my .hobby {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my .hobby h3 {
  margin-bottom: 0;
  text-align: center;
}

.my .hobby-list {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 32px;
}

.my .hobby .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.my .hobby .item img {
  margin: 0;
  width: 100px;
  height: auto;
  display: block;
  border-radius: 30%;
}

.my .hobby .item p {
  margin-top: 12px;
}

@media (max-width: 768px) {

  .my {
    padding: 32px 16px;
  }

  .my .myall {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0%;
  }
}

/* contact */

#Contacts {
  display: flex;
  justify-content: center;
  margin: 0 64px;
  padding: 128px 0;
}

#Contacts .allcontact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  max-width: 750px;
  width: 100%;
  padding: 48px 80px;
  border-radius: 24px;
  margin: 0 auto;
}

#Contacts .contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#Contacts .contact h3 {
  text-align: center;
}

#Contacts .contact ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

#Contacts .contact li {
  list-style: none;
}

#Contacts .contact li p {
  font-size: 12px;
}

#Contacts .contact a {
  display: block;
  background-color: #e0e0e0;
  padding: 12px 24px;
  border-radius: 999px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

#Contacts .contact a:hover {
  transform: scale(1.05);
}

#Contacts .dog img {
  width: 300px;
  height: auto
}

@media (max-width: 768px) {
  #Contacts .allcontact {
    display: block;
  }

  #Contacts .allcontact .dog {
    display: flex;
    justify-content: center;
  }
}

/* footer */

footer {
  text-align: center;
  padding: 64px 0;
  background-color: #98623C;
}

footer small {
  margin-top: 32px;
}

@media (max-width: 768px) {}